version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_app
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: >
      flask --app run.py run --host=0.0.0.0 --port=5000 --debug